<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61356775903-itacj6k9r2722de2dfvj5rsp743g8su6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61356775903-itacj6k9r2722de2dfvj5rsp743g8su6</string>
	<key>API_KEY</key>
	<string>AIzaSyCfjQfSJmKI3zTxaFLWEYUXW1QBv26r6-8</string>
	<key>GCM_SENDER_ID</key>
	<string>61356775903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fonzmusic</string>
	<key>PROJECT_ID</key>
	<string>fonz-music-app-1f03f</string>
	<key>STORAGE_BUCKET</key>
	<string>fonz-music-app-1f03f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61356775903:ios:5ab7aa6994475b22ac8c6a</string>
</dict>
</plist>